.container{
    display: flex;
    justify-content: center;
}

.articles{
    flex:1;
    min-width: 50vw;
    max-width: 70vw;
}
.article{
    overflow: hidden;
    max-height:150px;
    margin:10px;
    padding:10px;
    border-radius:15px;
    font-size: 20px;
    background-color: #e9e9e9;
    transition: all 0.8s ease;
}
.viewmore{
    background-color: white;
    border: 2px solid black;
    border-radius:20px;
    padding:7px 15px;
    margin-left:20px;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease;
}
.viewmore:hover{
    background-color: black;
    color:white;
}
.side {
    flex:1;
    max-width: 300px;
    margin:10px;
    padding:10px;
    border-radius:15px;
    font-size: 20px;
    background-color: #e9e9e9;
}
.private{
    background-color: #c4c4c4;
    border-radius:15px;
    margin:5px;
    padding:10px;
    font-size:16px;
}