@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;

    color: rgb(71, 71, 71);
    transition: all 0.5s ease;
}
a:hover{
    color:black;
}

.intro{
    margin-top: 200px; 
    text-align: center;
    margin-left: 28vw;
    margin-right: 28vw;
    transition: all 1s ease;
}

.pp{
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 30px;
}

.name{
    font-size: 30px;
}
.subname{
    font-size: 22px;
}
p{
    font-size: 20px;
}

.presentation{
    display: flex;
    line-height: 25px;
}

.contact{
    flex:1;
    margin-right: 20px;
    margin-top:30px;  
    text-align: right;
}
.introText{
    text-align: justify;
    margin-top: 30px;
    margin-left: 10px;
    flex:1;
}
.CV{
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

.point{
    margin-bottom: 100px;
    transition: all 1.5s ease;
}

.showButton{
    font-size:24px;
    cursor:pointer;
}
.icon{
    height:20px;
    margin-right: 5px;
}