@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(71, 71, 71);
    transition: all 0.5s ease;
}
a:hover{
    color:black;
}

.intro{
    margin-top: 200px; 
    text-align: center;
    margin-left: 25vw;
    margin-right: 25vw;
    transition: all 1s ease;
}

.pp{
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 30px;
}

.name{
    font-size: 30px;
}
.subname{
    font-size: 22px;
}
p{
    font-size: 18px;
}

.presentation{
    display: flex;
    line-height: 25px;
}

.contact{
    flex:1;
    margin-right: 20px;
    margin-top:30px;  
    min-width: 340px;
    text-align: right;
}
.introText{
    text-align: justify;
    margin-top: 30px;
    margin-left: 10px;
    flex:1;
}
.CV{
    max-height: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

.point{
    margin-bottom: 100px;
    transition: all 1.5s ease;
}

.showButton{
    padding-top: 0px;
    font-size:24px;
    cursor:pointer;
    transition: all 0.7s ease;
}
.showButton:hover{
    font-size: 26px;
}

.icon{
    height:20px;
    margin-right: 5px;
}

@media (max-width:800px){
    .intro{
        margin-top: 30px; 
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .pp{
        width: 60vw;
    }

    .showButton{
        display:none;
    }

    .CV{
        max-height: 800px;
    }

    .point{
        margin-bottom: 30px;
    }
    .contact{
        margin-right: 0px;
    }
    .introText{
        margin-left: 0px;
    }

}

@media (max-width:1300px){
    .presentation{
        display: block;
    }
    .intro{
        margin-top: 100px; 
    }
}